{% extends 'store/user_out/home_out.html' %}
{% load static %}
{% block content %}

  <!-- Faqs Start -->

  <section class="faqs">
    <div class="container py-5 px-5">
      <div class="row py-3">
        <div class="col-lg-7 mt-2">
          <h1 class="pb-3">FAQS</h1>
          <p><strong>Source and Quality:</strong></p>
          <p>Our coffee is serious on quality. We find only responsibly, sustainably, and ethically sourced coffee
            beans. We prefer family owned farms rather than corporate owned farms.</p>
          <p><strong>Specialty Grade Coffee:</strong></p>
          <p>We only order specialty grade coffee, which is the highest rating coffee can get. The coffee has to be
            almost free entirely from detects and standout in one attribute. To learn more about the Coffee Grading,
            click on this link to learn more: <a
              href="http://www.coffeeresearch.org/coffee/grade.htm">http://www.coffeeresearch.org/coffee/grade.htm</a>
          </p>
          <p><strong>Roasting:</strong></p>
          <p>Mr. Beans Coffee is small batch roasted. The coffee you order have usually been roasted within 2-5 days of
            shipping to assure its freshness. For ideal taste, we recommend consuming the coffee within 2-3 weeks of
            receiving them.</p>
          <p><strong>Shipping: </strong></p>
          <p>We ship nationwide and have negotiated the best and fair rates we can with our carriers. We know some of
            the rate is higher than usual, the carriers set the rate at checkout based on what's in your cart and where
            it must be shipped.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Faqs End -->

{% endblock content %}