* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* ----------Logged Out View---------- */
/* Navigation Bar Start */
.head_nav {
  background: #fdf5e6;
}

.head_nav img {
  width: 65px;
}

.head_nav a {
  font-size: 0.75rem;
  font-weight: 600;
  color: #6f4e37;
}

.head_nav a:hover {
  color: #ffdead;
}

.head_nav .btn_register {
  background-color: transparent;
  border: none;
  color: #6f4e37;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.head_nav .btn_register:hover {
  color: #ffdead;
}

.head_nav .btn_signin {
  background: #6f4e37;
  border: none;
  color: #ffdead;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.head_nav .btn_signin:hover {
  color: #6f4e37;
  background: #ffdead;
}
/* Navigation Bar End */

/* Introduction Start */
.intro {
  background: linear-gradient(
      195deg,
      rgba(111, 78, 55, 0),
      rgba(111, 78, 55, 1)
    ),
    url("/static/images/background_a.png") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.intro h1 {
  font-family: "Leckerli One", cursive;
  font-size: 3.5rem;
  color: #ffdead;
  text-shadow: 2px 2px 4px #6f4e37;
  padding: 5rem 0 1rem 0;
}

.intro .btn_intro {
  height: 45px;
  width: 20%;
  color: #6f4e37;
  outline: none;
  border: none;
  background: #fdf5e6;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.intro .btn_intro:hover {
  background: #6f4e37;
  color: #ffdead;
}
/* Introduction End */

/* Products Start */
.product {
  background: #f3f3f3;
  color: #a0522d;
}

.product h1 {
  font-size: 2.6rem;
  font-weight: 700;
  color: #6f4e37;
  text-align: center;
}

.product .card_foot {
  text-align: center;
  background: #ffffff;
}

.product h5 {
  font-size: 1.5rem;
  font-weight: 500;
}

.product p {
  font-size: 1.3rem;
  font-weight: 500;
}

.product .btn_view {
  height: 45px;
  width: 45%;
  background: #6f4e37;
  color: #ffdead;
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.4s;
  cursor: pointer;
}

.btn_view:hover {
  border: 1px solid #6f4e37;
  background: #fdf5e6;
  color: #6f4e37;
  transition: all 0.4s;
}
/* Products End*/

/* Footer Start */
.foot {
  background: #fdf5e6;
  color: #6f4e37;
}

.foot img {
  height: 144px;
  width: 207px;
}

.foot h4 {
  font-weight: 700;
  color: #6f4e37;
}

.foot .foot-item {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #6f4e37;
  transition: all 0.4s;
}

.foot .foot-item:hover {
  color: #ffdead;
}

.foot span {
  color: #6f4e37;
  font-weight: 500;
  font-size: 1.1rem;
}

.foot .icons {
  color: #6f4e37;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.4s;
}

.foot .icons:hover {
  color: #ffdead;
}

.foot p {
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  color: #a0522d;
}
/* Footer End */

/* Faqs Start */
.faqs {
  background: url("/static/images/background_b.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.faqs h1 {
  text-align: center;
  color: #6f4e37;
}

.faqs p {
  color: #545454;
}

.faqs strong,
.faqs a {
  color: #6f4e37;
}
/* Faqs End */

/* About Start */
.about {
  background: url("/static/images/background_c.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.about h1 {
  text-align: center;
  color: #ffdead;
}

.about p {
  color: #fdf5e6;
}
/* About End */

/* Contact Start */
.contact {
  background: url("/static/images/background_d.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.contact h1 {
  text-align: center;
  color: #6f4e37;
}

.contact p {
  color: #545454;
  text-align: center;
}

.contact .btn_send {
  height: 45px;
  width: 22%;
  background: #6f4e37;
  color: #ffdead;
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.4s;
  cursor: pointer;
}

.contact .btn_send:hover {
  border: 1px solid #6f4e37;
  background: #fdf5e6;
  color: #6f4e37;
  transition: all 0.4s;
}
/* Contact End */

/* ----------Logged In View---------- */
/* Navigation Bar Start */
.head_nav .btn_user {
  background: transparent;
  border: none;
  color: #6f4e37;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.head_nav .btn_user:hover {
  color: #ffdead;
}

.head_nav .btn_cart {
  background: transparent;
  border: none;
  color: #6f4e37;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.head_nav .btn_cart:hover {
  color: #ffdead;
}
/* Navigation Bar End */

/* Cart Start */
.cart p {
  color: #6f4e37;
  font-weight: 900;
}

.cart #product_img {
  height: 150px;
}

.product_list p {
  color: #6f4e37;
}
/* Cart End */
