{% extends 'store/home.html' %}
{% load static %}
{% block content %}

  <!-- Shop Carousel Start -->

  <section id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'images/banner_b.png' %}" class="d-block w-100" alt="Coffee">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static 'images/banner_a.png' %}" class="d-block w-100" alt="Arabica">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/banner_c.png' %}" class="d-block w-100" alt="How2Roast">
      </div>
    </div>
  </section>

  <!-- Shop Carousel End -->

  <!-- Shop Items Start -->

  <section class="product pb-5">
    <div class="container">
      <div class="row pt-5">
        <div class="col-lg-3">
          <div class="card border-0">
            <div class="card-body py-4">
              <img src="{% static 'images/arabica.png' %}" class="img-fluid" alt="Arabica Coffee">
            </div>
            <div class="card_foot card-footer border-0">
              <h5>Arabica Coffee</h5>
              <p class="m-0">$19.99</p>
              <button class="btn_view my-2">View Item</button>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="card border-0">
            <div class="card-body py-4">
              <img src="{% static 'images/robusta.png' %}" class="img-fluid" alt="Robusta Coffee">
            </div>
            <div class="card_foot card-footer border-0">
              <h5>Robusta Coffee</h5>
              <p class="m-0">$19.99</p>
              <button class="btn_view my-2">View Item</button>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="card border-0">
            <div class="card-body py-4">
              <img src="{% static 'images/liberica.png' %}" class="img-fluid" alt="Liberica Coffee">
            </div>
            <div class="card_foot card-footer border-0">
              <h5>Liberica Coffee</h5>
              <p class="m-0">$19.99</p>
              <button class="btn_view my-2">View Item</button>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="card border-0">
            <div class="card-body py-4">
              <img src="{% static 'images/corn.png' %}" class="img-fluid" alt="Corn Coffee">
            </div>
            <div class="card_foot card-footer border-0">
              <h5>Corn Coffee</h5>
              <p class="m-0">$19.99</p>
              <button class="btn_view my-2">View Item</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Shop Items End -->

{% endblock content %}