{% extends 'store/user_in/home_in.html' %}
{% load static %}
{% block content %}

  <!-- About Start -->

  <section class="about">
    <div class="container py-5 px-5">
      <div class="row py-3">
        <div class="col-lg-7 mt-2">
          <h1 class="pb-3">About Us</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, perspiciatis? Reiciendis provident
            praesentium enim repellendus quis possimus dicta, nostrum, repudiandae omnis qui cum vero nemo consequatur
            incidunt, in voluptates dolore suscipit fuga! Aliquam, unde itaque voluptatem qui porro ipsum in beatae
            fugit. Odit ad modi quo ipsam tenetur nam perferendis?</p>
        </div>
      </div>
    </div>
  </section>

  <!-- About End -->

{% endblock content %}